---
title: Verification
---

# Verification

There is no centralized verification source for Mastodon and Fediverse users.