---
title: Verification
---

# Verification

There is no centralized verification source for Mastodon and Fediverse users.
Verifying your identity on Mastodon is available for everyone, based on open web standards, now and forever free.

